$menu-bg-color: #37474F;
$menu-width: 200px;

$menu-button-hover: #455A64;
$menu-button-text-color: #DDD;

$player-main-button-color: #000;
$player-main-button-color-hover: #000;
$player-control-button-color: #888;
$player-control-button-color-hover: #000;
$player-control-button-color-activated: #000;
$player-progress-bg-color: #CFD8DC;
$player-progress-filled-color: #607D8B;
$player-height: 30px;
$player-bg-color: #FFF;

$music-list-item-bg-color: #FFF;
$music-list-item-bg-color-hover: #EEE;

body {
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.titlebar-control-group {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 0.85em;
}

.titlebar-control-button {
	color: #888;
	padding: 2px;
	cursor: pointer;
	transition: color .2s linear;

	&:hover {
		color: #666;
	}
}

.menu-container {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: $menu-width;
	background-color: $menu-bg-color;

	.menu-button {
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
		font-weight: 100;
		background-color: $menu-bg-color;
		color: $menu-button-text-color;
		transition: background .2s linear;

		&:hover {
			background-color: $menu-button-hover;
		}
	}

	.menu-mini-profile {
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
		background-color: $menu-bg-color;
		color: $menu-button-text-color;
		transition: background .2s linear;

		&:hover {
			background-color: $menu-button-hover;
		}

		.avatar {
			width: 50px;
			height: 50px;
			float: left;
		}

		.info {
			padding: 3px;
			padding-left: 10px;
			font-weight: 300;
			display: inline-block;
		}
	}
}

.music-container {
	position: absolute;
	left: $menu-width;
	top: 0;
	bottom: 0;
	right: 0;

	.music-list {
		position: absolute;
		left: 0;
		right: 0;
		bottom: $player-height + 20;
		top: 25px;
		overflow: scroll;

		.music-list-item {
			height: 30px;
			line-height: 30px;
			padding: 5px 20px;
			border-top: solid #EEE 1px;
			font-weight: 300;
			font-size: 14px;
			cursor: pointer;
			background-color: $music-list-item-bg-color;
			transition: background .2s linear;

			&:hover {
				background-color: $music-list-item-bg-color-hover;
			}

			.author {
				display: inline-block;
				font-weight: 400;
			}

			.name {
				display: inline-block;
				position: absolute;
				left: 40%;
				color: #888;
			}

			.time {
				display: inline-block;
				position: absolute;
				right: 20px;
				color: #888;
			}
		}
	}

	.mini-player {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 10px;
		height: $player-height;
		line-height: $player-height;
		border-top: solid #EEE 1px;
		background-color: $player-bg-color;

		.main-group {
			float: left;
			margin-right: 10px;

			.player-fast-button {
				color: $player-main-button-color;
				transition: color .2s linear;
				cursor: pointer;

				&:hover {
					color: $player-main-button-color-hover;
				}
			}

			.player-play-button {
				color: $player-main-button-color;
				vertical-align: middle;
				transition: color .2s linear;
				cursor: pointer;

				&:hover {
					color: $player-main-button-color-hover;
				}
			}
		}

		.control-group {
			float: right;
			margin-left: 10px;

			.player-control-button {
				color: $player-control-button-color;
				transition: color .2s linear;
				cursor: pointer;

				&:hover {
					color: $player-control-button-color-hover;
				}
			}

			.player-control-activated {
				color: $player-control-button-color-activated !important;
			}
		}

		.player-music-progress {
			height: 10px;
			overflow: hidden;
			position: relative;
			top: 50%;
			transform: translate( 0, -50% );
			background: $player-progress-bg-color;

			span {
				display: block;
  				height: 100%;
  				background-color: $player-progress-filled-color;
  				position: relative;
			}
		}

	}
}