$menu-bg-color: #37474F;
$menu-width: 200px;

.titlebar-control-group {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 0.85em;
}

.titlebar-control-button {
	color: #888;
	padding: 2px;
	cursor: pointer;

	&:hover {
		color: #666;
	}
}

.menu-container {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: $menu-width;
	background-color: $menu-bg-color;
}