$menu-bg-color: #37474F;
$menu-width: 200px;

$menu-button-hover: #455A64;
$menu-button-text-color: #DDD;

body {
	font-family: 'Roboto', sans-serif;
}

.titlebar-control-group {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 0.85em;
}

.titlebar-control-button {
	color: #888;
	padding: 2px;
	cursor: pointer;
	transition: color .2s linear;

	&:hover {
		color: #666;
	}
}

.menu-container {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: $menu-width;
	background-color: $menu-bg-color;

	.menu-button {
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
		font-weight: 100;
		background-color: $menu-bg-color;
		color: $menu-button-text-color;
		transition: background .2s linear;

		&:hover {
			background-color: $menu-button-hover;
		}
	}

	.menu-mini-profile {
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
		background-color: $menu-bg-color;
		color: $menu-button-text-color;
		transition: background .2s linear;

		&:hover {
			background-color: $menu-button-hover;
		}

		.avatar {
			width: 50px;
			height: 50px;
			float: left;
		}

		.info {
			padding: 3px;
			padding-left: 10px;
			font-weight: 300;
			display: inline-block;
		}
	}
}